<div class="container">
    <div class="card">
        <div class="card-info">       
            <div class="texto">
                <div class="text">
                    <h1>
                        Ola, sou o Murilo
                        <br>
                        Trabalho com desenvovimento WEB 
                        <br>
                    </h1>
                </div>
                <div class="list">
                    <div>
                        <i class='bx bxs-circle'></i>
                        <h1>Front-end</h1>
                    </div>

                    <div>
                        <i class='bx bxs-circle'></i>
                        <h1>Back-end</h1>
                    </div>
                </div>
                <div class="btn-moreinfo">
                    <span>
                        Saber mais sobre mim
                    </span>
                </div>
            </div>
            <div class="card-mypicture">
                <img src="assets\imgs\mypicture.jpg" alt="" class="mypicture">
            </div>
        </div>
    </div>
    <div class="card-aboutme">
        <div class="aboutme">
            <div class="header-aboutme">
                <h1>
                    Aqui veremos um pouco sobre como andas os meus projetos
                </h1>
            </div>
            <div class="body-aboutme">
                <div class="card-about">
                    <i class='bx bxl-angular' ></i>
                    <h1>Front-End</h1>
                    <h2>2 Projetos</h2>
                </div>
                <div class="card-about">
                    <i class='bx bxl-nodejs'></i>
                    <h1>Back-End</h1>
                    <h2>1 Projeto</h2>
                </div>

            </div>
        </div>
    </div>
    <div class="card-truco">
        <div class="imagnes-truco">
            <img src="https://i.pinimg.com/originals/e1/b0/f9/e1b0f90c48330ec1f86ff132f2815acc.png" alt="">
        </div>
        <div class="desciption-truco">
            <h1>Meu projeto mais recente e de fazer um jogo de truco na web</h1>
        </div>
    </div>
</div>
