<div class="mx-auto w-5/6 mt-28">
    <div>

        <div>
            <h1 class="text-6xl text-slate-100 ">Ola, eu sou um <br> Desenvolvedor Front-end</h1>
            <h2 class="text-slate-400  mt-2">
                Olá! Sou Murilo Pereira Cândido, um entusiasta da programação que está apaixonado por criar soluções
                inovadoras na web. Embarquei na jornada da programação há um ano e, nos últimos três meses, tenho me
                dedicado especialmente ao desenvolvimento web e back end.
            </h2>
        </div>
        @if(button){
        <div class="flex mt-5 cursor-pointer" (click)="buttonShowHiden()">
            <h1 class="py-4 px-10 rounded-sm bg-white font-semibold">Mais Sobre mim</h1>
        </div>
        }

    </div>
    @if(showHiden){
    <div>
        <h1 class="text-slate-400">
            Durante esse período, mergulhei em linguagens como HTML, CSS e JavaScript, aprimorando minhas habilidades na
            construção de interfaces dinâmicas e responsivas. Além disso, recentemente tenho explorado o mundo do
            back-end com tecnologias como Node.js com Express, MongoDB e Java.
        </h1>
    </div>
    <div class="mt-16">
        <ul class="flex flex-wrap gap-5 justify-center">
            <li class=" p-4 rounded-md bg-slate-800 w-64 h-60 hover:bg-slate-600">
                <a href="https://github.com/MuriloTFROTB">
                    <div class=" flex justify-start items-center">
                        <img src="./assets/imgs/github-logo.png" alt="" class="object-cover w-12 h-12">
                    </div>
                    <h1 class="text-white mt-4">GitHub</h1>
                    <h2 class="text-white mt-4">Para ver alguns dos meus projetos e acompanhar meu progresso, confira
                        meu
                        GitHub
                    </h2>
                </a>
            </li>
            <li class=" p-4 rounded-md bg-slate-800 w-64 h-60 hover:bg-slate-600">
                <a href="https://www.linkedin.com/in/murilo-pereira-323429254">
                    <div class=" flex justify-start items-center">
                        <img src="./assets/imgs/linkedin.png" alt="" class="object-cover w-12 h-12">
                    </div>
                    <h1 class="text-white mt-4">GitHub</h1>
                    <h2 class="text-white mt-4">Confira tambem o meu Linkedin
                    </h2>
                </a>
            </li>
            <li class=" p-4 rounded-md bg-slate-800 w-64 h-60 hover:bg-slate-600">
                <a href="https://www.youtube.com/feed/subscriptions">
                    <div class=" flex justify-start items-center">
                        <img src="./assets/imgs/facebook.png" alt="" class="object-cover w-12 h-12">
                    </div>
                    <h1 class="text-white mt-4">GitHub</h1>
                    <h2 class="text-white mt-4">
                        De uma olhada nas minhas redes sociais
                    </h2>
                </a>
            </li>
        </ul>
    </div>
    }
</div>