<div class="container">
    <div class="card">
        <div class="card-info">       
            <div class="texto">
                <div class="text">
                    <h1>
                        Ola, sou o Murilo
                        <br>
                        Trabalho com desenvovimento WEB 
                        <br>
                    </h1>
                </div>
                <div class="list">
                    <div>
                        <i class='bx bxs-circle'></i>
                        <h1>Front-end</h1>
                    </div>

                    <div>
                        <i class='bx bxs-circle'></i>
                        <h1>Back-end</h1>
                    </div>
                </div>
                <div class="btn-moreinfo">
                    <span>
                        Saber mais sobre mim
                    </span>
                </div>
            </div>
            <div class="card-mypicture">
                <img src="assets\imgs\mypicture.jpg" alt="" class="mypicture">
            </div>
        </div>
    </div>
    <div class="card-aboutme">
        <div class="aboutme">
            <div class="header-aboutme">
                <h1>ola</h1>
            </div>
            <div class="body-aboutme">
                <div class="card-about">
                    <i class='bx bxl-html5'></i>
                    <h1>Desenvolvimento Web</h1>
                    <h2>2 Projetos</h2>
                </div>
                <div class="card-about">
                    <i class='bx bxl-html5'></i>
                    <h1>Desenvolvimento Web</h1>
                    <h2>2 Projetos</h2>
                </div>

            </div>
        </div>
    </div>
</div>